@model UserInfoViewModel

@{
    ViewData["Title"] = "User info page";
}

<div class="text-center">
    <h1 class="display-4">User info page</h1>
</div>

<p>Username: @Model.UserName</p>
<p>Email: @Model.Email</p>
<p>Registration date: @Model.RegistrationDate UTC</p>

<a class="btn btn-primary" asp-action="Collections">List of collections</a>